@font-face {
	font-family: 'Redemption';
	src: url('../../fonts/Redemption.eot');
	src: url('../../fonts/Redemption.woff') format('woff'), url('../../fonts/Redemption.ttf') format('truetype'), url('../../fonts/Redemption.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RDRLino';
	src: url('../../fonts/RDRLino-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	background-color: #000000;
	background-image:  radial-gradient(#f3070d 0.9500000000000001px, transparent 0.9500000000000001px), radial-gradient(#f3070d 0.9500000000000001px, #000000 0.9500000000000001px);
	background-size: 38px 38px;
	background-position: 0 0,19px 19px;
}