@keyframes ldio-fxndvbcxiz {
    0% {
      opacity: 1;
      backface-visibility: hidden;
      transform: translateZ(0) scale(1.5,1.5);
    } 100% {
      opacity: 0;
      backface-visibility: hidden;
      transform: translateZ(0) scale(1,1);
    }
  }
  .ldio-fxndvbcxiz div > div {
    position: absolute;
    width: 14.16px;
    height: 14.16px;
    border-radius: 50%;
    background: #599cb0;
    animation: ldio-fxndvbcxiz 1s linear infinite;
  }.ldio-fxndvbcxiz div:nth-child(1) > div {
    left: 87px;
    top: 52px;
    animation-delay: -0.875s;
  }
  .ldio-fxndvbcxiz > div:nth-child(1) {
    transform: rotate(0deg);
    transform-origin: 94.08px 59.08px;
  }.ldio-fxndvbcxiz div:nth-child(2) > div {
    left: 77px;
    top: 77px;
    animation-delay: -0.75s;
  }
  .ldio-fxndvbcxiz > div:nth-child(2) {
    transform: rotate(45deg);
    transform-origin: 84.08px 84.08px;
  }.ldio-fxndvbcxiz div:nth-child(3) > div {
    left: 52px;
    top: 87px;
    animation-delay: -0.625s;
  }
  .ldio-fxndvbcxiz > div:nth-child(3) {
    transform: rotate(90deg);
    transform-origin: 59.08px 94.08px;
  }.ldio-fxndvbcxiz div:nth-child(4) > div {
    left: 27px;
    top: 77px;
    animation-delay: -0.5s;
  }
  .ldio-fxndvbcxiz > div:nth-child(4) {
    transform: rotate(135deg);
    transform-origin: 34.08px 84.08px;
  }.ldio-fxndvbcxiz div:nth-child(5) > div {
    left: 17px;
    top: 52px;
    animation-delay: -0.375s;
  }
  .ldio-fxndvbcxiz > div:nth-child(5) {
    transform: rotate(180deg);
    transform-origin: 24.08px 59.08px;
  }.ldio-fxndvbcxiz div:nth-child(6) > div {
    left: 27px;
    top: 27px;
    animation-delay: -0.25s;
  }
  .ldio-fxndvbcxiz > div:nth-child(6) {
    transform: rotate(225deg);
    transform-origin: 34.08px 34.08px;
  }.ldio-fxndvbcxiz div:nth-child(7) > div {
    left: 52px;
    top: 17px;
    animation-delay: -0.125s;
  }
  .ldio-fxndvbcxiz > div:nth-child(7) {
    transform: rotate(270deg);
    transform-origin: 59.08px 24.08px;
  }.ldio-fxndvbcxiz div:nth-child(8) > div {
    left: 77px;
    top: 27px;
    animation-delay: 0s;
  }
  .ldio-fxndvbcxiz > div:nth-child(8) {
    transform: rotate(315deg);
    transform-origin: 84.08px 34.08px;
  }
  .loadingio-spinner-spin-vk7dpoodkw9 {
    width: 118px;
    height: 118px;
    display: inline-block;
    overflow: hidden;
    background: none;
  }
  .ldio-fxndvbcxiz {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-fxndvbcxiz div { box-sizing: content-box; }
  
  div .center {
      display: flex;
      justify-content: center;
      align-items: center;
  }